<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8">
    <title>生成模板</title>
</head>
<body>

<div id="app">
    <el-button type="primary" @click="genGoodsTemplateFiles()">生成文件</el-button>
    <el-button type="info" @click="reload()">重新加载模板</el-button>

    <el-form :model="genGoodsTemplate">

        <el-form-item label="路径">
            <el-input v-model="genGoodsTemplate.path"></el-input>
        </el-form-item>

        <el-form-item label="生成模式">
            <el-select v-model="genGoodsTemplate.genType" placeholder="请选择">
                <el-option
                        v-for="item in genTypeList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="类目">
            <el-select v-model="genGoodsTemplate.productCategory" placeholder="请选择">
                <el-option
                        v-for="item in productCategoryList"
                        :key="item"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="型号">
            <el-select @change="selectModel" v-model="genGoodsTemplate.modelList" placeholder="请选择"
                       filterable multiple>
                <el-option
                        v-for="item in modelList"
                        :key="item.code"
                        :label="item.code"
                        :value="item.code">
                    <span style="float: left">{{ item.code }}</span>
                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.versionNo }}</span>
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="关键词">
            <el-button size="mini" type="success" @click="selectKeyword()">关键词</el-button>
        </el-form-item>

    </el-form>

<!--    <el-table-->
<!--            :data="productList"-->
<!--            style="width: 100%">-->
<!--        <el-table-column-->
<!--                label="货号"-->
<!--                width="300">-->
<!--            <template slot-scope="scope">-->
<!--                <i class="el-icon-time"></i>-->
<!--                <span style="margin-left: 10px">{{ scope.row.productName }}</span>-->
<!--            </template>-->
<!--        </el-table-column>-->
<!--        <el-table-column-->
<!--                label="型号"-->
<!--                width="180">-->
<!--            <template slot-scope="scope">-->
<!--                <el-select @change="selectModel(scope.row)" v-model="scope.row.modelList" placeholder="请选择"-->
<!--                           filterable multiple>-->
<!--                    <el-option-->
<!--                            v-for="item in modelList"-->
<!--                            :key="item.code"-->
<!--                            :label="item.code"-->
<!--                            :value="item.code">-->
<!--                        <span style="float: left">{{ item.code }}</span>-->
<!--                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.versionNo }}</span>-->
<!--                    </el-option>-->
<!--                </el-select>-->
<!--            </template>-->
<!--        </el-table-column>-->
<!--        <el-table-column-->
<!--                label="类目"-->
<!--                width="180">-->
<!--            <template slot-scope="scope">-->
<!--                <el-select v-model="scope.row.productCategory" placeholder="请选择">-->
<!--                    <el-option-->
<!--                            v-for="item in productCategoryList"-->
<!--                            :key="item"-->
<!--                            :label="item"-->
<!--                            :value="item">-->
<!--                    </el-option>-->
<!--                </el-select>-->
<!--            </template>-->
<!--        </el-table-column>-->
<!--        <el-table-column label="操作">-->
<!--            <template slot-scope="scope">-->
<!--                <el-button size="mini" type="success" @click="selectKeyword(scope.$index)">关键词</el-button>-->
<!--                <el-button size="mini" type="danger" @click="handleDelete(scope.$index)">删除</el-button>-->
<!--            </template>-->
<!--        </el-table-column>-->
<!--    </el-table>-->


    <el-dialog
            title="选择关键词"
            :visible.sync="keywordVisible"
            width="30%">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
        <div style="margin: 15px 0;"></div>
        <el-checkbox-group v-model="genGoodsTemplate.keywordList" @change="handleCheckedKeywordChange">
            <el-checkbox v-for="item in keywordList" :label="item" :key="item">{{ item }}</el-checkbox>
        </el-checkbox-group>
        <span slot="footer" class="dialog-footer">
            <el-button @click="keywordVisible = false">取 消</el-button>
            <el-button type="primary" @click="keywordVisible = false">确 定</el-button>
        </span>
    </el-dialog>

</div>

</body>

<script>
    new Vue({
        el: '#app',
        data: {
            // dialog
            keywordVisible: false,

            // 全选框
            isIndeterminate: false,
            checkAll: false,

            keywordSelected: [],

            genGoodsTemplate: {
                path: '',
                genType: 1,
                productCategory: '',
                modelList: [],
                versionNoList: [],
                keywordList: []
            },

            templateList: [],
            genTypeList: [{value: 1, label: '单型号模式'}, {value: 2, label: '多型号模式'}],
            modelList: [],
            keywordList: [],
            productCategoryList: [],

            modelByCode: null,

            productList: [],
            list: []
        },
        created() {
            this.load();
        },
        methods: {
            reload() {
                location.reload();
            },
            load() {
                axios.get('/goodsTemplate/getDefaultPath').then(res => {
                    this.genGoodsTemplate.path = res.data.data;
                });
                axios.get('/goodsTemplate/getTemplateList').then(res => {
                    this.productList = res.data.data;
                    this.keywordSelected = [];
                    this.productList.forEach(e => {
                        e.productCategory = null;
                        this.keywordSelected.push([]);
                    });
                });
                axios.get('/goodsTemplate/getModelList').then(res => {
                    this.modelList = res.data.data;
                    this.modelByCode = this.modelList.reduce((map, e) => {
                        map.set(e.code, e);
                        return map;
                    }, new Map());
                });
                axios.get('/goodsTemplate/getKeywordList').then(res => {
                    this.keywordList = res.data.data.map(keyword => keyword.name);
                    this.productCategoryList = [...new Set(res.data.data.map(keyword => keyword.productCategory))];
                    this.genGoodsTemplate.productCategory = this.productCategoryList[0];
                });
            },
            selectModel() {
                this.genGoodsTemplate.versionNoList = [...new Set(this.genGoodsTemplate.modelList.map(model => this.modelByCode.get(model).versionNo))];
            },
            genGoodsTemplateFiles() {
                if (this.productList == null || this.productList.length === 0) {
                    this.$message.error('请重新加载模板');
                    return;
                }
                for (let i = 0; i < this.productList.length; i++) {
                    if (this.genGoodsTemplate.modelList === 0) {
                        this.$message.error('请选择型号');
                        return;
                    }
                    if (!this.genGoodsTemplate.productCategory) {
                        this.$message.error('请选择类目');
                        return;
                    }
                    if (this.genGoodsTemplate.keywordList.length === 0) {
                        this.$message.error('请选择关键词');
                        return;
                    }
                }
                axios.post('/goodsTemplate/genGoodsTemplateFiles', this.genGoodsTemplate).then(res => {
                    if (res.data.code === 200) {
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },
            selectKeyword() {
                this.keywordVisible = true;
            },
            handleCheckAllChange(val) {
                this.genGoodsTemplate.keywordList = val ? this.keywordList : [];
                this.isIndeterminate = false;
            },
            handleCheckedKeywordChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.keywordList.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.keywordList.length;
            },
            handleDelete(index) {
                this.productList.splice(index, 1);
            }
        }
    });
</script>
</html>