<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.css">
    <!-- 引入vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.14/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>

    <meta charset="UTF-8">
    <title>生成模板</title>
</head>
<body>

<div id="app">

    <el-form :model="genGoodsTemplate" v-loading="loading" :rules="rules" ref="form" label-width="120px">

        <el-row>
            <el-col :span="24">
                <el-form-item label="操作">
                    <el-button type="primary" @click="genGoodsTemplateFiles()">生成文件</el-button>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="8">
                <el-form-item label="商品主图路径" prop="mainImagePath">
                    <el-input v-model="genGoodsTemplate.mainImagePath"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="8">
                <el-form-item label="型号" prop="modelList">
                    <el-select @change="selectModel" v-model="genGoodsTemplate.modelList" placeholder="多个使用英文逗号分隔"
                               :filter-method="filterModel" filterable multiple>
                        <el-option
                                v-for="item in modelList"
                                :key="item.code"
                                :label="item.code"
                                :value="item.code">
                            <span style="float: left">{{ item.code }}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.versionNo }}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>

    </el-form>

</div>

</body>

<script>
    axios.defaults.headers['Content-Type'] = 'application/json;charset=utf-8';
    const request = axios.create({
        // axios中请求配置有baseURL选项，表示请求URL公共部分
        // baseURL: 'http://localhost:8081',
        // 超时
        timeout: 60000
    });
    new Vue({
        el: '#app',
        data: {

            loading: false,

            rules: {
                modelList: [
                    { required: true, message: '请选择型号', trigger: 'blur' }
                ]
            },

            genGoodsTemplate: {
                path: '',
                genPath: '',
                mainImagePath: '',
                genType: 2,
                versionType: 1,
                versions: '',
                productCategory: '手机壳',
                modelList: [],
                versionNoList: [],
                keywordList: []
            },
            modelList: [],
            productCategoryList: [],

            modelByCode: null,
        },
        created() {
            request.interceptors.response.use(res => {
                    // 未设置状态码则默认成功状态
                    const code = res.data.code || 200;
                    // 获取错误信息
                    const msg = res.data.msg;
                    // 二进制数据则直接返回
                    if (res.request.responseType === 'blob' || res.request.responseType === 'arraybuffer') {
                        return res.data;
                    }
                    if (code === 500) {
                        this.loading = false;
                        this.$message.error(msg);
                        return Promise.reject(new Error(msg));
                    } else if (code !== 200) {
                        this.loading = false;
                        Notification.error({title: msg})
                        return Promise.reject('error');
                    } else {
                        return res.data;
                    }
                },
                error => {
                    this.loading = false;
                    console.log(error);
                    this.$message.error(error);
                    return Promise.reject(error);
                }
            );
            this.load();
        },
        methods: {
            reload() {
                this.load();
            },
            async load() {
                this.loading = true;
                await request({
                    url: '/goodsTemplate/getDefaultPath',
                    method: 'get'
                }).then(res => {
                    this.genGoodsTemplate.path = res.data.path;
                    this.genGoodsTemplate.genPath = res.data.genPath;
                    this.genGoodsTemplate.mainImagePath = res.data.mainImagePath;
                });
                await request({
                    url: '/goodsTemplate/getModelList',
                    method: 'get'
                }).then(res => {
                    this.modelList = res.data;
                    this.modelByCode = this.modelList.reduce((map, e) => {
                        map.set(e.code, e);
                        return map;
                    }, new Map());
                });
                this.loading = false;
                this.$message.success('数据加载完成');
            },
            selectModel() {
                this.genGoodsTemplate.versionNoList = [...new Set(this.genGoodsTemplate.modelList.map(model => this.modelByCode.get(model).versionNo))];
            },
            genGoodsTemplateFiles() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        request({
                            url: '/goodsTemplate/genGoodsTemplateFiles',
                            method: 'post',
                            data: this.genGoodsTemplate
                        }).then(res => {
                            this.loading = false;
                            if (res.code === 200) {
                                this.$message.success('生成文件成功');
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            filterModel(val) {
                let modelList = val.split(/ |,|\n/);
                let length = this.genGoodsTemplate.modelList.length;
                modelList.map(model => {
                    if (this.modelByCode.has(model)) {
                        this.genGoodsTemplate.modelList.push(model);
                    }
                });
                if (this.genGoodsTemplate.modelList.length !== length) {
                    this.genGoodsTemplate.modelList = [...new Set(this.genGoodsTemplate.modelList)]
                }
            },
        }
    });
</script>
</html>